include:
  - template: Jobs/Container-Scanning.gitlab-ci.yml

default:
  image: docker:29.0.2

services:
  - docker:29.0.2-dind

workflow:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_CHANGED_PATHS == "Dockerfile"'
      when: always

    - if: '$CI_PIPELINE_SOURCE == "push"'
      when: always
      changes:
        - Dockerfile
    - when: never

variables:
  DOCKER_HOST: tcp://docker:2375
  DOCKER_TLS_CERTDIR: ""
  IMAGE_TAG: ciromota/nessus-scanner:$CI_COMMIT_SHA

stages:
  - build
  - lint
  - test
  - scan
  - deploy

Build:
  stage: build
  script:
    - docker build --cache-from ciromota/nessus-scanner:latest -t $IMAGE_TAG .
    - docker tag $IMAGE_TAG ciromota/nessus-scanner:latest

Lint:
  stage: lint
  image: hadolint/hadolint:latest-debian
  script:
    - hadolint Dockerfile

Test:
  stage: test
  before_script:
    - docker build --cache-from ciromota/nessus-scanner:latest -t $IMAGE_TAG .
  script:
    - docker container run -td --name nessus-scanner -p 8834:8834 $IMAGE_TAG
    - sleep 5
    - docker ps | grep nessus-scanner
  after_script:
    - docker stop nessus-scanner || true
    - docker rm nessus-scanner || true

container_scanning:
  stage: scan
  variables:
    CS_IMAGE: ciromota/nessus-scanner:latest

# push_and_sign:
#   stage: deploy
#   image: docker:29.0.2
#   services:
#     - docker:29.0.2-dind
#   variables:
#     COSIGN_YES: "true"
#   id_tokens:
#     SIGSTORE_ID_TOKEN:
#       aud: sigstore
#   before_script:
#     - apk add --update cosign
#     - echo $DOCKERHUB_TOKEN | cosign login docker.io -u $DOCKER_USER --password-stdin
#   script:
#     - docker buildx build -t ciromota/nessus-scanner:latest .
#     - docker push ciromota/nessus-scanner:latest
#     - IMAGE_DIGEST=$(docker inspect --format='{{index .RepoDigests 0}}' ciromota/nessus-scanner)
#     - cosign sign $IMAGE_DIGEST