default:
  image: docker:28.4.0
  services:
    - docker:28.4.0-dind

workflow:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_CHANGED_PATHS == "Dockerfile"'
      when: always

    - if: '$CI_PIPELINE_SOURCE == "push"'
      when: always
      changes:
        - Dockerfile
    - when: never

stages:
  - build
  - lint
  - test
  - scan
  - deploy

Build:
  stage: build
  script:
      - docker buildx build -t ciromota/nessus-scanner:latest .

Lint:
    stage: lint
    image: hadolint/hadolint:latest-debian
    script:
        - hadolint Dockerfile

Test:
    stage: test
    before_script:
        - docker buildx build -t ciromota/nessus-scanner:latest .
    script:
        - docker container run -td --name nessus-scanner -p 8834:8834 ciromota/nessus-scanner:latest

cache:
  key: reports
  paths:
  - ${CI_PROJECT_DIR}/gl-container-scanning-report.json

container_scanning:
  stage: scan
  image: docker:28.4.0
  services:
    - docker:28.4.0-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""
  script:
    - wget --no-verbose https://raw.githubusercontent.com/anchore/grype/main/install.sh -O - | sh -s -- -b /usr/local/bin
    - docker build -t my-image:$CI_COMMIT_SHA .
    - grype my-image:$CI_COMMIT_SHA -o template --template $CI_PROJECT_DIR/grype_gitlab.tpl --scope all-layers > $CI_PROJECT_DIR/gl-container-scanning-report.json
    - cat $CI_PROJECT_DIR/gl-container-scanning-report.json
  artifacts:
    reports:
      container_scanning: $CI_PROJECT_DIR/gl-container-scanning-report.json

# push_and_sign:
#   stage: deploy
#   image: docker:28.4.0
#   services:
#     - docker:28.4.0-dind
#   variables:
#     COSIGN_YES: "true"
#   id_tokens:
#     SIGSTORE_ID_TOKEN:
#       aud: sigstore
#   before_script:
#     - apk add --update cosign
#     - echo $DOCKERHUB_TOKEN | cosign login docker.io -u $DOCKER_USER --password-stdin
#   script:
#     - docker buildx build -t ciromota/nessus-scanner:latest .
#     - docker push ciromota/nessus-scanner:latest
#     - IMAGE_DIGEST=$(docker inspect --format='{{index .RepoDigests 0}}' ciromota/nessus-scanner)
#     - cosign sign $IMAGE_DIGEST
