default:
  image: docker:29.0.2

services:
  - docker:29.0.2-dind

workflow:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_CHANGED_PATHS == "Dockerfile"'
      when: always
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      when: always
    - if: '$CI_PIPELINE_SOURCE == "push"'
      when: always
      changes:
        - Dockerfile
    - when: never

variables:
  DOCKER_HOST: tcp://docker:2375
  DOCKER_TLS_CERTDIR: ""
  IMAGE_TAG: ciromota/nessus-scanner:$CI_COMMIT_SHA

stages:
  - build
  - lint
  - test
  - scan
  - deploy

Build:
  stage: build
  script:
    - docker build -t $IMAGE_TAG .
    - docker tag $IMAGE_TAG ciromota/nessus-scanner:latest

Lint:
  stage: lint
  image: hadolint/hadolint:latest-debian
  script:
    - hadolint Dockerfile

Test:
  stage: test
  needs: ["Build"]
  script:
    - docker container run -td --name nessus-scanner -p 8834:8834 $IMAGE_TAG
  after_script:
    - docker stop nessus-scanner || true
    - docker rm nessus-scanner || true

container_scanning:
  stage: scan
  needs: ["Build"]
  variables:
    CS_IMAGE: $IMAGE_TAG
  before_script:
    - apk add --no-cache wget
    - wget -qO- https://raw.githubusercontent.com/anchore/grype/main/install.sh | sh -s -- -b /usr/local/bin
  script:
    - grype $IMAGE_TAG -o template -t grype_gitlab.tpl --scope all-layers > gl-container-scanning-report.json
  artifacts:
    when: always
    reports:
      container_scanning: gl-container-scanning-report.json
    paths:
      - gl-container-scanning-report.json
    expire_in: 30 days
  allow_failure: true

# push_and_sign:
#   stage: deploy
#   image: docker:29.0.2
#   services:
#     - docker:29.0.2-dind
#   variables:
#     COSIGN_YES: "true"
#   id_tokens:
#     SIGSTORE_ID_TOKEN:
#       aud: sigstore
#   before_script:
#     - apk add --update cosign
#     - echo $DOCKERHUB_TOKEN | cosign login docker.io -u $DOCKER_USER --password-stdin
#   script:
#     - docker buildx build -t ciromota/nessus-scanner:latest .
#     - docker push ciromota/nessus-scanner:latest
#     - IMAGE_DIGEST=$(docker inspect --format='{{index .RepoDigests 0}}' ciromota/nessus-scanner)
#     - cosign sign $IMAGE_DIGEST