default:
  image: docker:28.4.0

services:
  - docker:28.4.0-dind

workflow:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_CHANGED_PATHS == "Dockerfile"'
      when: always
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      when: always
    - if: '$CI_PIPELINE_SOURCE == "push"'
      when: always
      changes:
        - Dockerfile
    - when: never

variables:
  DOCKER_HOST: tcp://docker:2375
  DOCKER_TLS_CERTDIR: ""
  IMAGE_TAG: ciromota/nessus-scanner:$CI_COMMIT_SHA

stages:
  - build
  - lint
  - test
  - scan
  - deploy

Build:
  stage: build
  script:
    - docker build --cache-from ciromota/nessus-scanner:latest -t $IMAGE_TAG .
    - docker tag $IMAGE_TAG ciromota/nessus-scanner:latest

Lint:
  stage: lint
  image: hadolint/hadolint:latest-debian
  script:
    - hadolint Dockerfile

Test:
  stage: test
  before_script:
    - docker build --cache-from ciromota/nessus-scanner:latest -t $IMAGE_TAG .
  script:
    - docker container run -td --name nessus-scanner -p 8834:8834 $IMAGE_TAG
    - sleep 5
    - docker ps | grep nessus-scanner
  after_script:
    - docker stop nessus-scanner || true
    - docker rm nessus-scanner || true

container_scanning:
  stage: scan
  image: registry.gitlab.com/security-products/container-scanning:7
  services:
    - docker:28.0.9-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""
    CS_IMAGE: ciromota/nessus-scanner:latest
    CS_DOCKERFILE_PATH: Dockerfile
  before_script:
    - docker build -t ciromota/nessus-scanner:latest .
  script:
    - gtcs scan
  artifacts:
    when: always
    reports:
      container_scanning: gl-container-scanning-report.json
    paths:
      - gl-container-scanning-report.json
      - "**/gl-sbom-*.cdx.json"
    expire_in: 30 days
  allow_failure: true

# push_and_sign:
#   stage: deploy
#   image: docker:28.4.0
#   services:
#     - docker:28.4.0-dind
#   variables:
#     COSIGN_YES: "true"
#   id_tokens:
#     SIGSTORE_ID_TOKEN:
#       aud: sigstore
#   before_script:
#     - apk add --update cosign
#     - echo $DOCKERHUB_TOKEN | cosign login docker.io -u $DOCKER_USER --password-stdin
#   script:
#     - docker buildx build -t ciromota/nessus-scanner:latest .
#     - docker push ciromota/nessus-scanner:latest
#     - IMAGE_DIGEST=$(docker inspect --format='{{index .RepoDigests 0}}' ciromota/nessus-scanner)
#     - cosign sign $IMAGE_DIGEST