name: Docker Nessus-Scanner CI

permissions:
  contents: read
  id-token: write
  packages: write
  security-events: write

run-name: ${{ github.event.inputs.manual_commit_message || github.event.head_commit.message }}

on:
  push:
    paths:
     - 'Dockerfile'
  workflow_dispatch:
    inputs:
      manual_commit_message:
        description: "Insert manual commit message"
        type: string
        required: true

jobs:
  Build:
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v5

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    
    - name: Build Docker Image
      uses: docker/build-push-action@v6
      env:
        DOCKER_BUILD_SUMMARY: false
      with:
        context: .
        push: false
        load: true

  Test:
    runs-on: ubuntu-24.04
    needs: Build

    steps:
    - uses: actions/checkout@v5

    - name: Lint Dockerfile
      uses: hadolint/hadolint-action@v3.1.0
      with:
        dockerfile: Dockerfile
        config: .hadolint.yaml

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    
    - name: Build Docker Image
      uses: docker/build-push-action@v6
      env:
        DOCKER_BUILD_SUMMARY: false
      with:
        context: .
        push: false
        load: true

    - name: Run Trivy vulnerability scanner
          id: scan
          uses: aquasecurity/trivy-action@0.33.1
          with:
            image-ref: ciromota/nessus-scanner:latest
            format: sarif
            output: trivy-results.sarif
            severity: CRITICAL,HIGH,MEDIUM,LOW
            exit-code: 0
    
    - name: Install Trivy CLI to generate GITHUB_STEP_SUMMARY
      run: |
        curl -sfL https://raw.githubusercontent.com/aquasecurity/trivy/main/contrib/install.sh | sh -s -- -b /usr/local/bin
    
    - name: Publish Scan Summary into GITHUB_STEP_SUMMARY
      run: |
        echo "## Trivy Vulnerability Scan Summary" >> $GITHUB_STEP_SUMMARY
        echo '```' >> $GITHUB_STEP_SUMMARY
        trivy image --format table ciromota/nessus-scanner:latest >> $GITHUB_STEP_SUMMARY
        echo '```' >> $GITHUB_STEP_SUMMARY
    
    - name: Upload Trivy report to GitHub Security
      uses: github/codeql-action/upload-sarif@v3
      with:
        sarif_file: trivy-results.sarif
        category: trivy-container-scan

  Push:
    needs: Test
    runs-on: ubuntu-24.04

    steps:
    - name: Check out the repo
      uses: actions/checkout@v5

    - name: Install Cosign
      uses: sigstore/cosign-installer@v3.10.0

    - name: Docker Registry Login
      uses: docker/login-action@v3
      with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          
    - name: GitHub Container Registry Login
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GHCR_TOKEN }}

    - name: Extract metadata for Docker
      id: docker_meta
      uses: docker/metadata-action@v5
      with:
          images: |
            ciromota/nessus-scanner
            ghcr.io/ciro-mota/nessus-scanner
          tags: type=sha,format=long
          flavor: |
            latest=true

    - name: Build and Push Docker image
      uses: docker/build-push-action@v6
      env:
        DOCKER_BUILD_SUMMARY: false
      id: build-and-push
      with:
          context: .
          push: true
          tags: ${{ steps.docker_meta.outputs.tags }}

    - name: Sign image with Cosign
      env:
        TAGS: ${{ steps.docker_meta.outputs.tags }}
        COSIGN_PRIVATE_KEY: ${{ secrets.COSIGN_PRIVATE_KEY }}
        COSIGN_PASSWORD: ${{ secrets.COSIGN_PASSWORD }}
        DIGEST: ${{ steps.build-and-push.outputs.digest }}
      run: |
          images=""
          for tag in ${TAGS}; do
            images+="${tag}@${DIGEST} "
          done
          cosign sign --yes --key env://COSIGN_PRIVATE_KEY ${images}
