name: Update README in Docker Hub

permissions:
  contents: read
  id-token: write

run-name: ${{ github.event.inputs.manual_commit_message || 'Update README in Docker Hub' }}

on:
  push:
    paths:
     - 'README.md'
  workflow_dispatch:
    inputs:
      manual_commit_message:
        description: "Insert manual commit message"
        type: string
        required: true

jobs:
  Update:
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v5

    - name: Docker Hub Description
      uses: peter-evans/dockerhub-description@v5
      with:
        username: ${{ secrets.DOCKER_USER }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
        repository: ciromota/nessus-scanner
        readme-filepath: ./README.md
        short-description: ${{ github.event.repository.description }}
        